.wrapper {
    box-sizing: border-box;
    min-height: 100%;    
    display: flex;
    flex-direction: column;
}

.toolbar {
 display: flex;
 flex-wrap: wrap;
 flex-grow: 0;
 flex-shrink: 0;
 font-weight: 600;  
}

/*Brand Header */
.brand_header {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
    background-color: rgb(255, 180, 80);
    padding: 10px 0px 10px 5px;    
}

.icon_utensils {
  display: inline-flex;
  justify-self: end;
}

.business_name {
  display: inline-flex;
  font-size: large;
  background-color: rgb(200, 248, 166);
  padding: .08em .5em;
  border-radius: 5px;
}

.business_address {
 padding-top: .2em;
}

/*Nav Header */
.nav_header { 
  min-width: 100%;
  background-color: #3884da;
  color: white;
  padding: 8px 0px;
}

header ul {
    display: flex;
    min-width: 100%;
    justify-content: space-around;
    padding: 0px 0px;
    margin: 0px;
}

header li {
    list-style: none;
    padding: 0px 0px;
}
/* 
header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
} 

 header a:hover {
    color: #b2dfdb;
} 
 */

/* -----fonts----- */
/* :host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.footer_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: 600;
  padding: 0;
}

.app_footer {
  min-width: 100%;
  background-color: #3884da;
  color: white;
  margin: 0;  
}

footer ul {
  display: flex;
  align-items: center;
  min-width: 100%;
  justify-content: space-around;
  padding: 8px 0px;
  margin: 0;
}

.follow {
  min-width: 100%;
  background-color: rgb(255, 180, 80);
  padding: 5px 5px;
}
/*
.follow #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.follow #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.follow #twitter-logo:hover,
.follow #youtube-logo:hover {
  opacity: 0.8;
} 
*/

/* Responsive Styles */
@media screen and (max-width: 767px) {  
  .wrapper {
    width: 100%;
  }  
}

@media screen and (max-width: 575px) {
  
}
