<div class="listings_content">
    <ul class="listings">
        <li class="listing_container" *ngFor="let listing of listings">
            <!-- <div class="listing_container"> -->
                <!-- <img class="listing_img" src={{listing.listing_id}}> -->
                <img class="listing_img" src="assets/listings_images/large_catfish.jpg">
                <div class="listing_text_container">
                    <!-- <span class="listing_title">{{listing.title}}</span> -->
                    <span class="listing_title">Large Fried Catfish Plate</span>
                    <!-- <span class="short_description">{{listing.short_description}}</span> -->
                    <span class="short_description">5 Catfish fillets, fries and cole slaw.</span>
                </div>
                <div class="add_price_container">
                    <span class="add">
                        <button class="add_button">Add</button>
                    </span>
                    <!-- <span class="price">{{listing.price}}</span> -->
                    <span class="price">24.95</span>
                </div>
            <!-- </div> -->
        </li>
    </ul>
</div>