.listings_content {
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    background-color: #FA8072;
  }

.listings {
    list-style-type: none;
    min-width: 100%;
    padding: 0;
}

.listing_container {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #a5caed;
    height: 60px;
    /* width: 300px; */
    width: auto;
    /* margin: 0 8px 16px; */
    margin: 15px 8px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: center; */
    /* align-items: center; */
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .listing_img {
    width: 60px;
    height: 60px;
    border-style: hidden;
    border-radius: 4px;
  }

  .listing_text_container {
    display: inline-flex;
    flex-grow: 2;
    flex-direction: column;
    align-items: center;
    background-color: rgb(228, 224, 224);
    margin: 0 .3em;
    padding: 0 .2em;
    border-style: hidden;
    border-radius: 4px;
  }

  .listing_title {
    font-weight: 700;
  }

  .short_description {
    padding: .2em 0;
    font-weight: 500;
  }

  .add_price_container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  .add_button {
    background-color: rgb(27, 27, 247);
    color: white;
  }

  .price {
    background-color: rgb(200, 248, 166);
    margin: .2em 0;
    padding: .1em .2em;
  }